USE [master]
GO
/****** Object:  Database [P1_JoseRuiz]    Script Date: 25/09/2024 13:25:08 ******/
CREATE DATABASE [P1_JoseRuiz]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'P1_JoseRuiz', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\P1_JoseRuiz.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'P1_JoseRuiz_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\P1_JoseRuiz_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [P1_JoseRuiz].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [P1_JoseRuiz]
GO
/****** Object:  Table [dbo].[HOSPITAL]    Script Date: 25/09/2024 13:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOSPITAL](
	[HOSPITAL_COD] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[DIRECCION] [varchar](50) NULL,
	[TELEFONO] [varchar](50) NULL,
	[NUM_CAMA] [int] NULL,
 CONSTRAINT [PK_HOSPITAL] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PLANTILLA]    Script Date: 25/09/2024 13:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PLANTILLA](
	[HOSPITAL_COD] [int] NOT NULL,
	[SALA_COD] [int] NOT NULL,
	[EMPLEADO_NO] [int] NOT NULL,
	[APELLIDOS_NOMBRE] [varchar](50) NULL,
	[FUNCION] [varchar](50) NULL,
	[TURNO] [varchar](1) NULL,
	[SALARIO] [money] NULL,
 CONSTRAINT [PK_PLANTILLA] PRIMARY KEY CLUSTERED 
(
	[EMPLEADO_NO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SALA]    Script Date: 25/09/2024 13:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SALA](
	[HOSPITAL_COD] [int] NOT NULL,
	[SALA_COD] [int] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[NUM_CAMA] [int] NULL,
 CONSTRAINT [PK_SALA] PRIMARY KEY CLUSTERED 
(
	[HOSPITAL_COD] ASC,
	[SALA_COD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tada]    Script Date: 25/09/2024 13:25:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tada](
	[asdadad] [nchar](10) NULL,
	[asdasd] [nchar](10) NULL,
	[hjk] [nchar](10) NULL,
	[111] [nchar](10) NULL
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[PLANTILLA]  WITH CHECK ADD  CONSTRAINT [FK_PLANTILLA_HOSPITAL] FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PLANTILLA] CHECK CONSTRAINT [FK_PLANTILLA_HOSPITAL]
GO
ALTER TABLE [dbo].[SALA]  WITH CHECK ADD  CONSTRAINT [FK_SALA_HOSPITAL] FOREIGN KEY([HOSPITAL_COD])
REFERENCES [dbo].[HOSPITAL] ([HOSPITAL_COD])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SALA] CHECK CONSTRAINT [FK_SALA_HOSPITAL]
GO
USE [master]
GO
